# .env.example - Copy this file to .env and fill in details
PORT=5050
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=

# --- BAKONG SETTLEMENT CREDENTIALS ---
BAKONG_ACCOUNT_ID=
BAKONG_MERCHANT_NAME=
BAKONG_MERCHANT_CITY=